<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringAppKt" type="JetRunConfigurationType">
    <option name="ALTERNATIVE_JRE_PATH" value="17" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <option name="MAIN_CLASS_NAME" value="src.main.kotlin.at.aau.serg.SpringAppKt" />
    <module name="se2-einzelprojekt-service" />
    <option name="PROGRAM_PARAMETERS" value="abgabe.xml" />
    <shortenClasspath name="NONE" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>